@import '/home/gabbar/.config/waybar/color-waybar.css';

* {
  border: none;
  font-family: 'Fira Code', 'Symbols Nerd Font Mono';
  font-size: 14px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 35px;
}

window#waybar {
  background: transparent;
}

#custom-arch, #workspaces {
  border-radius: 10px;
  background-color: @foreground;
  color: @color1;
  margin-top: 5px;
  margin-right: 5px;
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

#cpu {
  margin-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 15px;
}

#disk {
 border-top-right-radius: 10px;
 border-bottom-right-radius: 10px;
}

#cpu, #memory, #disk {
  background-color: @foreground;
  color: @color1;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
}


#workspaces, #clock {
    margin-top: 5px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 5px;
    color: @color1;
}

#workspaces button{
    border-radius: 10px;
    padding: 1px 10px;
    background-color: @foreground;
}

#workspaces button.active, #workspaces button.focused{
    padding: 0 15px;
    background: @forefround;
    color: @color1;
}

#clock, #pulseaudio, #bluetooth, #network, #tray {
  border-radius: 10px;
  background-color: @foreground;
  color: @color1;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 10px;
  margin-right: 5px;
}

#bluetooth {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 5px;
  margin-right: 0
}

#pulseaudio, #network {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 5px;
}
#pulseaudio,#tray {
  padding-left: 10px;
}
#network {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
#clock {
  margin-right: 0;
}
